.content-details {
  margin-top: 150px;
}

.details-infor {
  padding-left: 70px !important;
}

.product-title {
  font-family: "Poppins", sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #333;
}

.availability {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  color: #555555;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.availability a {
  color: #ab8e66 !important;
  font-weight: 600 !important;
  text-decoration: none;
}

.price {
    font-size: 22px !important;
    font-weight: 500 !important;
    color: #111111;
    margin-bottom: 15px !important;
}

.product-details-description {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px !important;
    color: #555555;
    margin-bottom: 15px !important;
}

.variations .text-attribute {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}